#frontend Dependencies
frontend/node_modules

#backend Dependencies
backend/node_modules

# Logs
*.log

Target/                      

.git/ 

.github/ 

.idea/ 

.vscode/ 

.settings/ 

.classpath 

.project 

*.log 

README.md 